<div id='parentDiv' align="center">
    <%= text_field :search, nil, :class=>'input-xxlarge search-query form-control',:id=>'keyword' %>
    <%= link_to("Search", '', :class => 'search-link btn btn-small btn-default') %>
</div>