<div id='parentDiv' align="center">
    <%= text_field :search, nil, :class=>'input-xxlarge search-query',:id=>'keyword' %>
    <%= link_to("GO", '', :class => 'search-link btn btn-small btn-default') %>
</div>