<div class="container list-text">
  <% @users.each do |user| %>      
    <div class="row">
      <div class="col-6 col-lg-4">
        <div class="dropdown">
          <button class="dropbtn"><%= user.email %></button>
          <div class="dropdown-content">
            <%= user.is_blocked ? link_to("Unblock", unblock_user_path(user), class: "btn btn-small btn-success") : link_to("Block", block_user_path(user), class: "btn btn-small btn-warning") %>
            <%= link_to "Delete", delete_user_path(user), class: "btn btn-small btn-danger" %>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-3">
        <%= user.provider != nil ? user.provider.capitalize! + ' account' : 'Local account' %>
      </div>
    </div>
  <% end %>  
</div>